@font-face {
  font-family: "Satisfy";
  src: url("Satisfy-Regular.ttf");
}

.app {
  text-align: left;
}

.app__header {
  text-align: center;
  font-size: 24pt;
  color: #eee;
  font-family: "Satisfy", cursive;
}

.columns {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  background-color: #eee;
  padding: 25px;
  margin: 10px;
  width: 100%;
  border-radius: 25px;
}

.block__header {
  font-family: "Satisfy", cursive;
  text-align: center;
}

.block__footer {
  text-align: center;
}

.order_button {
  border-radius: 15px;
  padding: 10px;
  border: solid 3px #321;
  background-color: #d00;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  width: 100px;
}

.order_button:hover {
  background-color: #dd0;
  color: #321;
  cursor: pointer;
}
